.square-section__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    
    margin: 0px;
    font-size: 14px;
    line-height: 20px;
}

.square-section__text_main {
    position: absolute;
    font-size: 18px;
    line-height: 26px;
    
    text-align: center;
    
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    padding: 15px;
  }

  .square-section__text_boat {
    color: #000000;
  }