@import url(./vendor/normalize.css);

@import url(./blocks/header/header.css);
@import url(./blocks/footer/footer.css);

@import url(./blocks/common-section/common-section.css);
@import url(./blocks/square-section/square-section.css);

.page {
  margin: 0 auto;
  background-color: #FFFFFF;
  width: 100%;
  max-width: 768px;
  min-width: 320px;
}

.main-container {
  margin: 0px 0px;
}

@media screen and (min-width: 480px) {
  .main-container {
    margin: 0px 13px;
  }
}