.square-section__item {
    flex: 1 1 calc(100% - 5px);
    background-color: #A2A9B7;
    position: relative;
}

.square-section__item:nth-child(2) {
    margin-top: 10px;
}

.square-section__container {
    margin-left: 10px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;   
}


.square-section__container_type_boat {
    margin-right: 10px;
    margin-left: 0px; 
}

.square-section__main-item {
    position: relative;
    flex: 2;
    background-color: #A2A9B7;
    overflow: auto;
}

.square-section__item_type_boat {
    background-color: #E3EBD3;
}

.square-section__main-item:after {
    content:'';
    display: block;
    padding-bottom: 100%;
}