@import url(./__text/square-section__text.css);
@import url(./__text-container/square-section__text-container.css);
@import url(./__item/square-section__item.css);

@import url(./table/table.css);
@import url(./table/table__row.css);
@import url(./table/table__space.css);
@import url(./table/table__text.css);

@import url(./__image/square-section__image.css);

.square-section {
    width: 100%;
    display: flex;
    margin: 10px 0px 0px 0px;
}

.square-section_type_boat {
    display: none;
}

.square-section__image-container:hover .square-section__image{
    transition: box-shadow 0.5s, filter 0.5s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(3px);
}

.square-section__image-container:hover .mark{
    display: block;
}



@media screen and (min-width: 480px) {
    .square-section_type_moreno {
        order: 1;
    }

    .square-section_type_boat {
        display: flex;
        order: 4;
    }

}



